<div class="card">
    <!-- begin::Header -->
    <div class="card-header border-0 pt-5">
        <h3 class="card-title d-flex justify-content-center">
            <span
                    [inlineSVG]="'./assets/media/icons/duotune/communication/com013.svg'"
                    class="svg-icon svg-icon-2x svg-icon-primary me-2"
            ></span>
            <span class="card-label fw-bolder fs-3">Users list</span>
            <!--<span class="text-muted mt-1 fw-bold fs-7">Over 500 new products</span>-->
        </h3>
        <div class="card-toolbar">
            <button (click)="addUser()" class="btn btn-sm btn-light-primary">
              <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3"></span>
                New User
            </button>
        </div>
    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
        <!-- begin::Table container -->
        <div class="table-responsive">
            <!-- begin::Table -->
            <table mat-table
                   class="table table-row-bordered align-middle gs-0 gy-4"
                   [dataSource]="dataSource"
                   (matSortChange)="sortChange($event)"
                   matSort>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="ps-4 rounded-start">ID</th>
                    <td mat-cell *matCellDef="let element"><span class="ps-2">{{ element.id }}</span></td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="d-flex align-items-center">
                            <div class="symbol symbol-50px me-5">
                                <ngx-avatar [gravatarId]="element?.email"
                                            [name]="element?.name"
                                            [round]="false"
                                            [cornerRadius]="10"
                                            [size]="35"
                                ></ngx-avatar>
                            </div>
                            <div class="d-flex justify-content-start flex-column">
                                <a
                                        href="#"
                                        class="text-dark fw-bolder text-hover-primary mb-1 fs-6"
                                >
                                    {{ element.name }}
                                </a>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                    <td mat-cell *matCellDef="let element" class="text-muted"> {{ element.email }} </td>
                </ng-container>
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef >Role</th>
                    <td mat-cell *matCellDef="let element" class="text-dark fw-bolder"> {{ element.roleFlat }} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef >Status</th>
                    <td mat-cell *matCellDef="let element"><span class="badge"
                                                                 [ngClass]="getBadgeByStatus(element.status)">{{ getStatusNameById(element.status) }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-end rounded-end min-w-100px pe-3">Actions</th>
                    <td mat-cell *matCellDef="let element" class="text-end">
                        <button (click)="editUser(element)" class="btn btn-icon btn-bg-light btn-primary btn-sm me-1">
                            <span
                                  [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                                  class="svg-icon svg-icon-3"
                          ></span>
                        </button>
                        <button (click)="deleteUser(element)" class="btn btn-icon btn-bg-light btn-danger btn-sm">
                          <span
                                  [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                                  class="svg-icon svg-icon-3"
                          ></span>
                        </button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="fw-bolder text-muted bg-light"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator (page)="pageChange($event)" [pageIndex]="filters.page - 1" [pageSize]="filters.pageSize"
                           [length]="totalCount" [pageSizeOptions]="[2, 5, 10]"></mat-paginator>
            <!-- end::Table -->
        </div>
        <!-- end::Table container -->
    </div>
    <!-- begin::Body -->
</div>
