<div class="card">
    <!-- begin::Header -->
    <div class="card-header border-0 pt-5">
        <h3 class="card-title d-flex justify-content-center">
            <span
                    [inlineSVG]="'./assets/media/icons/duotune/abstract/abs036.svg'"
                    class="svg-icon svg-icon-2x svg-icon-primary me-2"
            ></span>
            <span class="card-label fw-bolder fs-3">Reference items list</span>
        </h3>

    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
        <app-reference-items-table></app-reference-items-table>
    </div>
    <!-- begin::Body -->
</div>
