<div>
    <h2>Settings</h2>
    <div mat-dialog-content>
        <form [formGroup]="formGroup">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'ARTICLE_SECTION_SETTINGS.LABEL' | translate}}</mat-label>
                        <input matInput formControlName="label"
                               [placeholder]="'ARTICLE_SECTION_SETTINGS.LABEL' | translate"/>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-checkbox formControlName="main_section">Main section</mat-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'ARTICLE_SECTION_SETTINGS.MIN_INSTANCE' | translate}}</mat-label>
                        <input matInput type="number" step="1" formControlName="min_instances" [placeholder]="'ARTICLE_SECTION_SETTINGS.MIN_INSTANCE' | translate" autocomplete="nope" />
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>{{'ARTICLE_SECTION_SETTINGS.MAX_INSTANCE' | translate}}</mat-label>
                        <input matInput type="number" step="1" min="1" formControlName="max_instances" [placeholder]="'ARTICLE_SECTION_SETTINGS.MAX_INSTANCE' | translate" autocomplete="nope" />
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <mat-dialog-actions align="end">
        <button mat-flat-button mat-dialog-close class="btn btn-light">Cancel</button>
        <button mat-flat-button class="btn btn-success" [disabled]="!this.formGroup.valid" (click)="save()">Save
        </button>
    </mat-dialog-actions>
</div>
